/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.header {
	height: 60px;
}
.site-nav {
	padding-top: 10px;
	font-family: arial,sans-serif;
	font-size: small;
}
.site-nav a {
	color: #000000;
	text-decoration: none;
}
ul {
	float:right;
}
li {
	display: inline;
	float: left;
	margin-right: 10px;
}
.nav-links {
	float: left;
	padding-top: 7px;
}
.nav-links a:hover {
	text-decoration: underline;
}
.nav-icons {
	float: right;
}
#apps {
	background-image: url('../images/sprite.png');
	height: 30px;
	width: 30px;
	display: block;
	background-position: -326px -52px;
	opacity: 0.6;
}
#apps:hover {
	opacity: 1;
}
#sign-in {
	height: 30px;
	width: 70px;
	border: 1px solid #4285f4;
	outline: none;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}
#sign-in:hover {
	box-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.logo img {
	display: block;
	margin: 0 auto;
}
#search-box {
	background-image: url('../images/mic.gif');
	background-repeat: no-repeat;
	background-position: 99% 50%;
	background-size: 17px 23px;
	display: block;
	border: 1px solid #ccc;
	max-width: 572px;
	min-width: 572px;
	height: 29px;
	margin: 0 auto;
}
#buttons {
	text-align: center;
}
#search-button {
	background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	border: 1px solid #dcdcdc;
	font: bold 11px/27px Arial,sans-serif!important;
}
#lucky-button {
	background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	border: 1px solid #dcdcdc;
	font: bold 11px/27px Arial,sans-serif!important
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	height: 40px;
	line-height: 40px;
	min-width: 980px;
}
.footer a {
	text-decoration: none;
	color: #000000;
	font-family: arial,sans-serif;
	font-size: small;
}
.footer a:hover {
	text-decoration: underline;
}
#f_left {
	float: left;
}
#f_left a {
	padding: 0 0 0 27px;
}
#f_right {
	float: right;
}
#f_right a {
	padding: 0 27px 0 0;
}